{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="main">
        <h1 class="titreContent">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="formRow">
            {{ form_label(registrationForm.firstname,'Prénom',{
                'label_attr':{
                    'class': 'formlabel'
                }
            }) }}
            {{ form_widget(registrationForm.firstname,{
                'attr':{
                    'class': 'formWidget'
                }
            }) }}
        </div>
        <div class="formRow">
            {{ form_label(registrationForm.lastname,'Nom',{
                'label_attr':{
                    'class': 'formlabel'
                }
            })}}
            {{ form_widget(registrationForm.lastname,{
                'attr':{
                    'class': 'formWidget'
                }
            }) }}
        </div>
        <div class="formRow">
            {{ form_label(registrationForm.email,'Email',{
                'label_attr':{
                    'class': 'formlabel'
                }
            })}}
            {{ form_widget(registrationForm.email,{
                'attr':{
                    'class': 'formWidget'
                }
            }) }}
        </div>
        <div class="formRow">
            {{ form_label(registrationForm.plainPassword,'Mot de passe',{
                'label_attr':{
                    'class': 'formlabel'
                }
            })}}
            {{ form_widget(registrationForm.plainPassword,{
                'attr':{
                    'class': 'formWidget'
                }
            }) }}
        </div>
        <div class="formBtn">
            <button type="submit" class="btn">Register</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
