{% extends 'base.html.twig' %}

{% set weather = tmp.current.weather_code|format_number  %}
{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="main">
    <div class="meteoResult">
        <h1 class="titreMeteo">Météo actuelle de la ville de Reims</h1>
        <div class="meteoInformation">
        {% include('weather/_weather-icon.html.twig') %}
        <div class="information">
            <p class="meteoName meteoData">{% include('weather/_weather-name.html.twig') %}</p>
            <p class="meteoData">Température: {{ tmp.current.temperature_2m }}°C</p>
            <p class="meteoData">Pourcentage de précipitation: {{ tmp.current.precipitation }}%</p>
        </div>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="listeAdresse">
            <h1 class="titreMeteo">Météo de vos adresses</h1>
            {% set i=0 %}
            {% for adresse in app.user.adresses  %}
            <div class="weatherAdresse">
                <div class="adresseInfo">
                    <p class="adresseData">{{ adresse.adresse.rue }}</p>
                    &nbsp
                    <p class="adresseData">{{ adresse.adresse.codePostal }}</p>
                    &nbsp
                    <p class="adresseData">{{ adresse.adresse.ville }}</p>
                    <a class="formbtn logout" href="{{ path('app_delete',{'id':adresse.adresse.id}) }}">Delete</a>
                </div>
                <div class="weatherWeek">
                    {% set j=0 %}
                    {% set day=['Aujourd\'hui','Demain','J+2','J+3','J+4','J+5','J+6'] %}
                    {% for weather in weatherAdr[i].daily.weather_code %}
                    <div class="weatherday">
                        <p class="day">{{ day[j] }}</p>
                        {% include('weather/_weather-icon.html.twig') %}
                        <p class="meteoData">{% include('weather/_weather-name.html.twig') %}</p>
                    </div>
                    {% set j=j+1 %}

                    {% endfor %}
                </div>
            {% set i=i+1 %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
