{% extends 'base.html.twig' %}

{% set weather = tmp.current.weather_code|format_number  %}
{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="main">
    <div class="meteoResult">
        <h1 class="titreMeteo">Météo actuelle de la ville de Reims</h1>
        <div class="meteoInformation">
        {% include('weather/_weather-icon.html.twig') %}
        <div class="information">
            <p class="meteoName meteoData">{% include('weather/_weather-name.html.twig') %}</p>
            <p class="meteoData">Température: {{ tmp.current.temperature_2m }}°C</p>
            <p class="meteoData">Pourcentage de précipitation: {{ tmp.current.precipitation }}%</p>
        </div>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            <h1 class="titreMeteo">Météo de vos adresses</h1>
            {% set i=0 %}
            {% for adresse in app.user.adresses  %}
            <div>
                {{ adresse.adresse.rue }}
                {{ adresse.adresse.codePostal }}
                {{ adresse.adresse.ville }}
                <a class="formbtn logout" href="{{ path('app_delete',{'id':adresse.adresse.id}) }}">Delete</a>
                <div>
                    {% for weather in weatherAdr[i].daily.weather_code %}
                        {% include('weather/_weather-icon.html.twig') %}
                        {% include('weather/_weather-name.html.twig') %}
                    {% endfor %}
                </div>
            {% set i=i+1 %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
