<div class="adresse">
    <p class="adresseName">{{ adresse.properties.name }}</p>
    <div class="adresseVille">
        <p>{{ adresse.properties.postcode }} - {{ adresse.properties.city}}</p>
    </div>
    <form method="get" action="/create">
        <input aria-label="rue" name="rue" value="{{ adresse.properties.name | replace({' ':'%'}) }}" type="hidden">
        <input aria-label="postCode" name="postCode" value="{{ adresse.properties.postcode }}" type="hidden">
        <input aria-label="city" name="city" value="{{ adresse.properties.city|replace({' ':'%'}) }}" type="hidden">
        <button type="submit">Ajouter</button>
    </form>
</div>